In [1]:
import pandas as pd 
import numpy as np

In [160]:
csv = pd.read_csv("Indian Liver Patient Dataset (ILPD).csv",header=None)

In [161]:
csv.columns=["Age",'Gender','Tb_Bilirubin','DB_Bilirubin','Alkaline_Phosphotase','Sgpt ','Sgot','Protiens','Albumin','Albumin_Globulin','Split_Label']

#Missing Values
csv.info()
csv.isna().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 583 entries, 0 to 582
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Age                   583 non-null    int64
 1   Gender                583 non-null    object
 2   Tb_Bilirubin          583 non-null    float64
 3   DB_Bilirubin          583 non-null    float64
 4   Alkaline_Phosphotase  583 non-null    int64
 5   Sgpt                  583 non-null    int64
 6   Sgot                  583 non-null    int64
 7   Protiens              583 non-null    float64
 8   Albumin               583 non-null    float64
 9   Albumin_Globulin      579 non-null    float64
 10  Split_Label           583 non-null    int64
dtypes: float64(5), int64(5), object(1)
memory usage: 50.2+ KB

Age                     0
Gender                  0
Tb_Bilirubin            0
DB_Bilirubin            0
Alkaline_Phosphotase    0
Sgpt                    0
Sgot                    0
Protiens                0
Albumin                 0
Albumin_Globulin        4
Split_Label             0
dtype: int64

In [162]:
csv['Albumin_Globulin'] = csv['Albumin_Globulin'].fillna(csv['Albumin_Globulin'].mean())
csv.info()
csv.isna().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 583 entries, 0 to 582
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Age                   583 non-null    int64
 1   Gender                583 non-null    object
 2   Tb_Bilirubin          583 non-null    float64
 3   DB_Bilirubin          583 non-null    float64
 4   Alkaline_Phosphotase  583 non-null    int64
 5   Sgpt                  583 non-null    int64
 6   Sgot                  583 non-null    int64
 7   Protiens              583 non-null    float64
 8   Albumin               583 non-null    float64
 9   Albumin_Globulin      583 non-null    float64
 10  Split_Label           583 non-null    int64
dtypes: float64(5), int64(5), object(1)
memory usage: 50.2+ KB

Age                     0
Gender                  0
Tb_Bilirubin            0
DB_Bilirubin            0
Alkaline_Phosphotase    0
Sgpt                    0
Sgot                    0
Protiens                0
Albumin                 0
Albumin_Globulin        0
Split_Label             0
dtype: int64

In [163]:
#replace Gender female with 1 and Male with 0
for i in csv['Gender']:
    if i=='Female':
        csv = csv.replace('Female',1)
    else:
        csv =csv.replace('Male',0)

In [164]:
csv

,Age,Gender,Tb_Bilirubin,DB_Bilirubin,Alkaline_Phosphotase,Sgpt,Sgot,Protiens,Albumin,Albumin_Globulin,Split_Label
0,65,1,0.7,0.1,187,16,18,6.8,3.3,0.90,1
1,62,0,10.9,5.5,699,64,100,7.5,3.2,0.74,1
2,62,0,7.3,4.1,490,60,68,7.0,3.3,0.89,1
3,58,0,1.0,0.4,182,14,20,6.8,3.4,1.00,1
4,72,0,3.9,2.0,195,27,59,7.3,2.4,0.40,1
...,...,...,...,...,...,...,...,...,...,...,...
578,60,0,0.5,0.1,500,20,34,5.9,1.6,0.37,2
579,40,0,0.6,0.1,98,35,31,6.0,3.2,1.10,1
580,52,0,0.8,0.2,245,48,49,6.4,3.2,1.00,1
581,31,0,1.3,0.5,184,29,32,6.8,3.4,1.00,1
582,38,0,1.0,0.3,216,21,24,7.3,4.4,1.50,2

In [195]:
#Create Input && output data
X_data = csv.drop('Split_Label',axis=1)
Y_data = csv['Split_Label']

In [196]:
#split data
from sklearn.model_selection import train_test_split

X_train , X_test , Y_train , Y_test =train_test_split(X_data,Y_data , train_size =0.8)

print(X_train.shape,X_test.shape,Y_train.shape,Y_test.shape)

(466, 10) (117, 10) (466,) (117,)

In [197]:
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
from tensorflow import keras


def preprocessing(X_train,Y_train,X_test,Y_test,type="MinMax"):

            #NORMALIZATION#
    if type == "Normalization":
        X_train_normalized = tf.keras.utils.normalize(X_train)
        X_test_normalized = tf.keras.utils.normalize(X_test)
        return X_train_normalized,Y_train,X_test_normalized,Y_test

            #NORM-WITH MINMAX#
    elif type == "MinMax":
        scaler = MinMaxScaler(feature_range=(-1, 1))
        X_train_minmax = scaler.fit_transform(X_train)
        X_test_minmax = scaler.fit_transform(X_test)
        return X_train_minmax , Y_train ,X_test_minmax ,Y_test

X_train_minmax,Y_train,X_test_minmax,Y_test=preprocessing(X_train,Y_train,X_test,Y_test,type="MinMax")
print(X_train_minmax.shape,X_test_minmax.shape,Y_train.shape,Y_test.shape)

(466, 10) (117, 10) (466,) (117,)

In [200]:
from sklearn.model_selection import KFold
from sklearn.naive_bayes import GaussianNB
from sklearn import metrics



gnb = GaussianNB()

epochs = 10
kfold = KFold(n_splits=5, shuffle=False, random_state=None)


for train_index, test_index in kfold.split(X_train_minmax,Y_train):  
        
    #es=EarlyStopping(monitor='val_loss' , mode='min' , verbose=1)
    #print("TRAIN:", train_index, "TEST:", test_index)
    X_train, X_test = X_train_minmax[train_index,:], X_train_minmax[test_index,:]
    y_train, y_test = Y_train.iloc[train_index],Y_train.iloc[test_index]
    
    #MODEL for cross-entropy
    gnb = GaussianNB()
    history = gnb.fit(X_train_minmax[train_index,:],Y_train.iloc[train_index])
    y_train_pred = gnb.predict(X_train)
    y_test_pred = gnb.predict(X_test)

In [201]:
# Calculate model's accuracy.
print('\n \n  Naves Bayes Results: ')
score = gnb.score(X_test_minmax, Y_test)
print('Model Accuracy (%):', 100*score)

  Naves Bayes Results:
Model Accuracy (%): 62.39316239316239

In [202]:


y_test = Y_test.map({1: 1, 2: 0}).astype(int)
# Determine the false positive and true positive rates
fpr, tpr, _ = metrics.roc_curve(y_test, gnb.predict_proba(X_test_minmax)[:,1 ])
# Calculate AUC score.
roc_auc = metrics.auc(fpr, tpr)